<!DOCTYPE html>
<html>
<head>
    <title>Fruits and Students</title>
    <!-- Add Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Center content vertically */
        html, body {
            height: 100%;
        }
        body {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container {
            text-align: center;
        }
        /* Style for lists */
        .list-container {
            display: inline-block;
            margin: 0 20px; /* Add space between lists */
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Fruits</h1>
                <ul class="list-group list-container">
                    {% for fruit in fruits %}
                    <li class="list-group-item">{{ fruit }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col">
                <h1>Selected Students</h1>
                <ol class="list-group list-container">
                    {% for student in students %}
                    <li class="list-group-item">{{ student }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS (optional) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
