<!DOCTYPE html>
<html>
    <head>
        <title>Export Books</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
        <style>
            .card {
                transition: transform 0.3s;
            }
    
            .card:hover {
                transform: scale(1.05);
            }
    
            .card-icon {
                font-size: 3rem;
            }
        </style>
    </head>
<body>
    <h1 class="text-center my-4">Export Books</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-file-pdf card-icon text-danger mb-3"></i>
                        <h5 class="card-title">Export as PDF</h5>
                        <a href="{% url 'export_books_pdf' %}" class="btn btn-danger mt-3">Export</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow">
                    <div class="card-body d-flex flex-column justify-content-center align-items-center">
                        <i class="fas fa-file-csv card-icon text-success mb-3"></i>
                        <h5 class="card-title">Export as CSV</h5>
                        <a href="{% url 'export_books_csv' %}" class="btn btn-success mt-3">Export</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>